<!-- Modals -->
<!-- add post -->
<div id="posts_add" class="modal">
	<div class="modal-content">
		<h4>Modal Header</h4>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s6">
						<i class="mdi-action-account-circle prefix"></i>
						<input id="posts_add_title" type="text" placeholder="Title" class="validate">
					</div>
					<div class="input-field col s6">
						<i class="mdi-action-account-circle prefix"></i>
						<input id="posts_add_author" type="text" placeholder="Author" class="validate">
					</div>
					<div class="input-field col s12">
						<i class="mdi-editor-mode-edit prefix"></i>
						<textarea id="posts_add_content" class="materialize-textarea" placeholder="Content"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col m3 offset-m6">
			<a id="posts_add_btn_send" class="waves-effect waves-light btn-large"><i class="fa fa-comment"></i> Send</a>
		</div>
		<div class="col m3">
			<a id="posts_add_btn_close" class="waves-effect waves-light btn-large"><i class="fa fa-comment"></i> Close</a>
		</div>
	</div>
	<br/>
</div>