<div class="row">
	<div class="col m3 right">
		<a id="posts_btn_add" class="waves-effect waves-light btn-large"><i class="fa fa-comment"></i> Add</a>
	</div>
</div>
<div id="posts_container" class="row"></div>



