/** Fonts **/
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
/** Colores **/
/* light-green accent-2 */
/** Variables **/
/** General **/
separator {
  display: block;
  height: 40px; }

body {
  background-color: #212121;
  color: #cbc; }

h2 {
  font-family: "PT Sans Narrow"; }

/** Gallery **/
#gallery {
  width: 400px; }

/** Style components **/
/** Header **/
.brand-logo {
  margin-left: 30px; }

/** Posts **/
#posts .card-title {
  color: #b2ff59; }

#posts div p {
  color: #cbc; }

/** Tweets **/
#tweets {
  border: 1px solid #22b;
  border-radius: 5px;
  padding: 10px;
  background-color: #229; }
  #tweets div p {
    color: #0e0;
    font-family: "Indie Flower";
    font-size: 20px; }
  #tweets div label {
    font-size: 16px; }
