<div id="posts" class="col m8"></div>
<div id="side_panel" class="col m2">
	<figure>
		<img src="http://vignette4.wikia.nocookie.net/reinoanimalia/images/8/88/Zorro_rojo_4.png/revision/latest?cb=20130514223627&path-prefix=es" alt="@DannielWhatever" width="240" height="300" />
  		<figcaption>Hello people :3</figcaption>
	</figure>
</div>