<nav>
	<div class="nav-wrapper light-green lighten-2">
 		<div class="left">
 			<ul class="hide-on-med-and-down">
 				{{#each menu}}
 					<li><a href="{{this.link}}"><span>{{this.title}}</span></a></li>
 				{{/each}}
 				<li><a>&nbsp;</a></li>
			</ul>
		</div>
	</div>
</nav>