/** Fonts **/
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

/** Variables **/
$color-background: #212121;
$font-main: 'PT Sans Narrow';
$font-indie: 'Indie Flower';

/** General **/
separator{display:block;height:40px;}

body { 
	background-color:$color-background; 
}


h2{
	font-family: $font-main;
}

/** Header **/
.brand-logo{
	margin-left: 30px;
}

/** Gallery **/
#gallery{ 
	width: 400px;
}

/** Post **/
.post{
	font-family: $font-indie;
	font-size: 18px;
}


