<div class="row">
	<div class="col s2">
  		<a class="btn-floating btn-large waves-effect waves-light light-green">
  			<i class="fa fa-paper-plane"></i>
  		</a>
	</div>
	<div class="col s6 green-text">
		<p>dannielgutierrez90@gmail.com<br/>Santiago,CL</p>
	</div>
</div>