<div class="card-panel grey darken-3 post">
  <span class="green-text">
  	Hi, im Daniel, a software developer from Chile. <br/>
  	I have experience working with Java technologies, Spring Framework, MVC, Boot and Security. <br/>
  	Also in front end development with jQuery, Bootstrap, AngularJs and vanilla Js. <br/>
  	For design this site i have used BackboneJs, Handlebars, jQuery, Materialize CSS and SASS. <br/>
  	For build this site i have used gulp and browserify. <br/>
  	Really is unnecesary to use these libraries in a simple place, but wanted to see how they worked together. <br/>
  	You can see how this works in the code available in my github.<br/>
  	<br/>

  </span>
</div>
